<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=SAT;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="SATEntities" connectionString="metadata=res://*/SATModel.csdl|res://*/SATModel.ssdl|res://*/SATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SAT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>